# **PANADA**

**Series**

In [6]:
import pandas as pd
data = [10,20,30,40,50]
sries_data = pd.Series(data)

print(data)
print(sries_data)

[10, 20, 30, 40, 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64


Declare a dictionary with key value pairs of your choice. Convert that dictionary to pandas series and name it series1

perform data inspection on series 1. Chekc the top 2 rows . alos find the number of unique values.


Access the 3rd element or the 3rd data value of the series 1 using the index or the customized index coming from the keys of the dictionary

In [3]:
# Part 1: Declare a dictionary and convert it to a pandas Series
my_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400}
series1 = pd.Series(my_dict)
print("Original Dictionary:")
print(my_dict)
print("\nPandas Series:")
print(series1)

# Part 2: Perform data inspection on series1
print("\nTop 2 rows of series1:")
print(series1.head(2))
print("\nNumber of unique values in series1:", series1.nunique())

# Part 3: Access the 3rd element of series1 using index
print("\nThird element of series1:", series1.iloc[2])

Original Dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400}

Pandas Series:
a    100
b    200
c    300
d    400
dtype: int64

Top 2 rows of series1:
a    100
b    200
dtype: int64

Number of unique values in series1: 4

Third element of series1: 300

In [55]:
import pandas as pd

# Creating a Pandas Series from a dictionary
data_dict = {'jan': 1.05, 'feb': 2.05, 'mar': 3.07, 'apr': 4.09, 'may': 5.08}
series_1 = pd.Series(data_dict)
print(series_1)
series_1.head()
series_1.tail()
# Return the number of unique values
num_unique_values = series_1.nunique()
print(num_unique_values)
# Accessing data in a Series
print(series_1[2])  # Accessing element at index 2
print(series_1['jan'])  # Accessing element with index 'b'

jan    1.05
feb    2.05
mar    3.07
apr    4.09
may    5.08
dtype: float64
5
3.07
1.05

/tmp/ipython-input-34881378.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_1[2])  # Accessing element at index 2

Operations and Transformations in Pandas Series
Transformation - modifying,cleaning and enhancing the data


int64 -> integer datatypes
bool -> boolean (True or False)
Float -> decimal
Object -> String

In [25]:
import pandas as pd

data1 = [1,2,3,4,5]
data2 = [6,7,8,9,10]

series1 = pd.Series(data1)
series2 = pd.Series(data2)

print(series1)
print(series2)

print('addition :\n',series1+series2)
print('subtraction :\n',series1-series2)
print('multiplication :\n',series1*series2)


# Element-wise addition
result_series = series1 + series2
print('result_series :\n',result_series)

# Apply a function to each element
squared_series = series1.apply(lambda x: x**2)
print('squared_series:\n',squared_series)

# Map values using a dictionary
mapped_series = series1.map({1: 'one', 2: 'two', 3: 'three'})
print('mapped_series:\n',mapped_series)

# Sort the Series by values
before_sorting = [9,0,2,5,2,7,4]
before_sorting = pd.Series(before_sorting)
sorted_series_asscending = before_sorting.sort_values()
sorted_series_descending = before_sorting.sort_values(ascending=False)
print('sorted_series_asscending:\n',sorted_series_asscending)
print('sorted_series_descending:\n',sorted_series_descending)

# Check for missing values -> Best example for Transformations of series
missing_values = mapped_series.isnull()
print('missing_values:\n',missing_values)

# Fill missing values with a specified value -> Best example for Transformations of series
# This is necessary because any operation needs to have a same datatype. So NaN(Not a Number) which is a string needs to be replaced with 0
filled_series = mapped_series.fillna(0)
print('filled_series\n',filled_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     6
1     7
2     8
3     9
4    10
dtype: int64
addition :
 0     7
1     9
2    11
3    13
4    15
dtype: int64
subtraction :
 0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
multiplication :
 0     6
1    14
2    24
3    36
4    50
dtype: int64
result_series :
 0     7
1     9
2    11
3    13
4    15
dtype: int64
squared_series:
 0     1
1     4
2     9
3    16
4    25
dtype: int64
mapped_series:
 0      one
1      two
2    three
3      NaN
4      NaN
dtype: object
sorted_series_asscending:
 1    0
2    2
4    2
6    4
3    5
5    7
0    9
dtype: int64
sorted_series_descending:
 0    9
5    7
3    5
6    4
2    2
4    2
1    0
dtype: int64
missing_values:
 0    False
1    False
2    False
3     True
4     True
dtype: bool
filled_series
 0      one
1      two
2    three
3        0
4        0
dtype: object

Convert a 8 int value list to series and map any 3 value with string.

Replace the NaN with zero

In [28]:
import pandas as pd

eight_num = [8,5,9,0,1,4,6,8]
series_eight_num = pd.Series(eight_num)
print('after converting the list to series :\n',series_eight_num)

series_eight_num_map = series_eight_num.map({1:'one',4:'four',5:'five'})
print('\nAfter mapping any 3 value to string:\n',series_eight_num_map)

print('\nAfter replacing the NaN to 0 :\n',series_eight_num_map.fillna(0))

after converting the list to series :
 0    8
1    5
2    9
3    0
4    1
5    4
6    6
7    8
dtype: int64

After mapping any 3 value to string:
 0     NaN
1    five
2     NaN
3     NaN
4     one
5    four
6     NaN
7     NaN
dtype: object

After replacing the NaN to 0 :
 0       0
1    five
2       0
3       0
4     one
5    four
6       0
7       0
dtype: object

In [35]:
import pandas as pd

# Create a Pandas Series
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series = pd.Series(data)
print(series)

# Select elements greater than 30
selected_greater_than_30 = series[series > 30]

# Select elements equal to 20
selected_equal_to_20 = series[series == 20]

# Select elements not equal to 40
selected_not_equal_to_40 = series[series != 40]

# Select elements based on multiple conditions
selected_multiple_conditions = series[(series > 20) & (series < 50)]

# Select elements based on a list of values
selected_by_list = series[series.isin([20, 40, 60])]

# Select elements using string methods (if applicable)
string_series = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
selected_by_string_method = string_series[string_series.str.startswith('b')]

# Query based on index labels
selected_by_index_labels = series.loc[['a', 'c', 'e']]

# Query based on numeric position
selected_by_numeric_position = series.iloc[1:4]

# Display the results
print("\nOriginal Series:")
print(series)
print("\nSelected greater than 30:")
print(selected_greater_than_30)
print("\nSelected equal To 20:")
print(selected_equal_to_20)
print("\nSelected not equal to 40:")
print(selected_not_equal_to_40)
print("\nSelected based on multiple conditions:")
print(selected_multiple_conditions)
print("\nSelected based on list of values:")
print(selected_by_list)
print("\nSelected based on string method (startswith):")
print(selected_by_string_method)
print("\nSelected based on index labels:")
print(selected_by_index_labels)
print("\nSelected based on numeric position:")
print(selected_by_numeric_position)

a    10
b    20
c    30
d    40
e    50
dtype: int64

Original Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Selected greater than 30:
d    40
e    50
dtype: int64

Selected equal To 20:
b    20
dtype: int64

Selected not equal to 40:
a    10
b    20
c    30
e    50
dtype: int64

Selected based on multiple conditions:
c    30
d    40
dtype: int64

Selected based on list of values:
b    20
d    40
dtype: int64

Selected based on string method (startswith):
1    banana
dtype: object

Selected based on index labels:
a    10
c    30
e    50
dtype: int64

Selected based on numeric position:
b    20
c    30
d    40
dtype: int64

Basically loc method extracts the values from series through the key assigned while mapping or converting the dict to series

iloc method extracts the values from the series through the index value assigned by default default (index starts from zero)

In [45]:
import pandas as pd

# Create a Pandas Series
data_1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
data_2 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
series_1 = pd.Series(data_1)
series_2 = pd.Series(data_2)
print('\nseries_1\n',series_1)
print('\nseries_2\n',series_2)

# Query based on index labels for series_1
selected_by_index_labels_series_1 = series_1.loc[['a', 'c', 'e']]
print('\nQuery based on index labels for series_1\n',selected_by_index_labels_series_1)

# Query based on numeric position for series_1
selected_by_numeric_position_series_1 = series_1.iloc[1:4]
print('\nQuery based on numeric position for series_1\n',selected_by_numeric_position_series_1)

# Query based on index labels for series_2
selected_by_index_labels_series_2 = series_2.loc[[1, 2, 3]]
print('\nQuery based on index labels for series_1\n',selected_by_index_labels_series_2)

# Query based on numeric position for series_1
selected_by_numeric_position_series_2 = series_1.iloc[1:4]
print('\nQuery based on numeric position for series_1\n',selected_by_numeric_position_series_2)

series_1
 a    10
b    20
c    30
d    40
e    50
dtype: int64

series_2
 1    10
2    20
3    30
4    40
5    50
dtype: int64

Query based on index labels for series_1
 a    10
c    30
e    50
dtype: int64

Query based on numeric position for series_1
 b    20
c    30
d    40
dtype: int64

Query based on index labels for series_1
 1    10
2    20
3    30
dtype: int64

Query based on numeric position for series_1
 b    20
c    30
d    40
dtype: int64

In [52]:
import pandas as pd

# Create a Pandas Series
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series = pd.Series(data)
print('\noriginal Series:')
print(series)
# Query based on index labels
selected_by_index_labels = series.loc[['a']]
print('\nQuery based on index labels')
print(selected_by_index_labels)

# Query based on numeric position
selected_by_numeric_position = series.iloc[1:4]
print('\nQuery based on numeric position 1 to 4')
print(selected_by_numeric_position)

# Query based on numeric position
selected_by_numeric_position = series.iloc[0:3]
print('\nQuery based on numeric position 0 to 3')
print(selected_by_numeric_position)

# Query based on numeric position
selected_by_numeric_position = series.iloc[0]
print('\nQuery based on numeric position 0')
print(selected_by_numeric_position)

# Query based on numeric position
selected_by_numeric_position = series.iloc[:]
print('\nQuery based on numeric position by pritning all the values in series')
print(selected_by_numeric_position)

original Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Query based on index labels
a    10
dtype: int64

Query based on numeric position 1 to 4
b    20
c    30
d    40
dtype: int64

Query based on numeric position 0 to 3
a    10
b    20
c    30
dtype: int64

Query based on numeric position 0
10

Query based on numeric position by pritning all the values in series
a    10
b    20
c    30
d    40
e    50
dtype: int64

Loc method to print the first 3 values based on string labels

iloc method:

Print all the values

Use the range to print the 5th to 7th values

Print the exact value which is the 3rd value

In [72]:
import pandas as pd

# Create a Pandas Series
data = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'e': 'egg','f': 'fan','g':'gas','h':'hat'}
series = pd.Series(data)
print('\noriginal Series:');
print(series)

based_on_labeles = series.loc[['a','b','c']]
print('\nvalues of Series based on labeles:')
print(based_on_labeles)

based_on_index_all = series.iloc[:]
print('\nvalues of Series based on index(all):')
print(based_on_index_all)

based_on_index_fifth_to_seventh = series.iloc[4:7]
print('\nvalues of Series based on index(5 to 7):')
print(based_on_index_fifth_to_seventh)

based_on_index_third = series.iloc[2]
print('\nvalues of Series based on index(3rd):')
print(based_on_index_third)

original Series:
a    apple
b     ball
c      cat
d     doll
e      egg
f      fan
g      gas
h      hat
dtype: object

values of Series based on labeles:
a    apple
b     ball
c      cat
dtype: object

values of Series based on index(all):
a    apple
b     ball
c      cat
d     doll
e      egg
f      fan
g      gas
h      hat
dtype: object

values of Series based on index(5 to 7):
e    egg
f    fan
g    gas
dtype: object

values of Series based on index(3rd):
cat

**Data Frames**

A Pandas DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns).

Creating a DataFrame from a dictionary

The key pairs are considered as columns and the value pair is considered as rows

In [73]:
import pandas as pd

# Creating a DataFrame from a dictionary
#The key pairs are considered as rows and the value pair is considered as columns
data_dict = {'name' : ['Ankit', 'Bhavana','Charan'],
             'age' : [25,26,27],
             'salary': [10000,20000,30000]}
df = pd.DataFrame(data_dict)
print(df)

      name  age  salary
0    Ankit   25   10000
1  Bhavana   26   20000
2   Charan   27   30000

Creating a DataFrame from a list

The values are considered as rows.
A seperate list needs to be created for column.

In [74]:
import pandas as pd

# Creating a DataFrame from a list

data_list = [['Ankit', 'Bhavana','Charan'],
             [25,26,27],
             [10000,20000,30000]]

list_columns = ['Name','Age','Salary']
df = pd.DataFrame(data_list,columns=list_columns)
print(df)

    Name      Age  Salary
0  Ankit  Bhavana  Charan
1     25       26      27
2  10000    20000   30000

Creating a DataFrame from a NumPy array

The 2D list must be concerted to numpy array and then converted to dataFrame

A seperate list needs to be created for column.

In [76]:
import pandas as pd
import numpy as np

data_array = np.array([['Ankit', 'Bhavana','Charan'],
             [25,26,27],
             [10000,20000,30000]])
np_columns = ['Name','Age','Salary']
df_array = pd.DataFrame(data_array, columns=np_columns)
print(df_array)

    Name      Age  Salary
0  Ankit  Bhavana  Charan
1     25       26      27
2  10000    20000   30000

Creating a DataFrame from csv and excel file

read_csv is used to convert and read the csv file as a dataframe

In [80]:
import pandas as pd

df_csv = pd.read_csv('HousePrices.csv')
print("\nReading from the file 'HousePrices.csv'")
print(df_csv)

df_excel = pd.read_excel('Iris.xlsx')
print("\nReading from the file 'Iris.xlsx'")
print(df_excel)

Reading from the file 'HousePrices.csv'
                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

Reading from the file 'Iris.xlsx'
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [84]:
#Accessing individual columns
import pandas as pd

data = {'column_1':[10,20,30], 'column_2':[40,50,60],'column_3':[70,80,90],'column_4':[100,110,120]}
df = pd.DataFrame(data)
print('\nOriginal Data frame')
print(df)

column_1 = df['column_1']
print('\ncolumn_1')
print(column_1)

column_2 = df['column_2']
print('\ncolumn_2')
print(column_2)

column_3 = df['column_3']
print('\ncolumn_3')
print(column_3)

column_4 = df['column_4']
print('\ncolumn_4')
print(column_4)

Original Data frame
   column_1  column_2  column_3  column_4
0        10        40        70       100
1        20        50        80       110
2        30        60        90       120

column_1
0    10
1    20
2    30
Name: column_1, dtype: int64

column_2
0    40
1    50
2    60
Name: column_2, dtype: int64

column_3
0    70
1    80
2    90
Name: column_3, dtype: int64

column_4
0    100
1    110
2    120
Name: column_4, dtype: int64

In [90]:
# Accessing multiple columns
import pandas as pd

data = {'column_1':[10,20,30], 'column_2':[40,50,60],'column_3':[70,80,90],'column_4':[100,110,120]}
df = pd.DataFrame(data)
print('\nOriginal Data frame')
print(df)

column_1_2 = df[['column_1','column_2']]
print('\ncolumn_1_2')
print(column_1_2)

column_2_3 = df[['column_2','column_3']]
print('\ncolumn_1_2')
print(column_1_2)

column_3_4 = df[['column_3','column_4']]
print('\ncolumn_1_2')
print(column_1_2)

Original Data frame
   column_1  column_2  column_3  column_4
0        10        40        70       100
1        20        50        80       110
2        30        60        90       120

column_1_2
   column_1  column_2
0        10        40
1        20        50
2        30        60

column_1_2
   column_1  column_2
0        10        40
1        20        50
2        30        60

column_1_2
   column_1  column_2
0        10        40
1        20        50
2        30        60